In [5]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [8]:
data = pd.read_csv("C:\\Thanusha\\Python\\ML master class\\GPA_data.CSV")

In [9]:
data.head()

,ID,Gender,Age,Extra_Curricular,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,8867,Male,22,Societies,10,1318792,154,1.76
1,1316,Female,24,Societies,9,874657,181,3.88
2,9443,Male,22,Societies,15,1098331,94,1.73
3,1829,Female,25,No,9,1680585,8,1.29
4,1989,Male,26,No,7,1361560,122,3.19

In [10]:
dummy = pd.get_dummies(data[["Gender","Extra_Curricular"]]).astype(int)

In [11]:
dummy.head()

,Gender_Female,Gender_Male,Extra_Curricular_No,Extra_Curricular_Societies,Extra_Curricular_Sports
0,0,1,0,1,0
1,1,0,0,1,0
2,0,1,0,1,0
3,1,0,1,0,0
4,0,1,1,0,0

In [12]:
dummy.drop(["Gender_Female","Extra_Curricular_No"] , axis = 1 , inplace = True)

In [13]:
dummy.head()

   Gender_Male  Extra_Curricular_Societies  Extra_Curricular_Sports
0            1                           1                        0
1            0                           1                        0
2            1                           1                        0
3            0                           0                        0
4            1                           0                        0

In [14]:
data.drop(["Gender","Extra_Curricular"], axis=1 , inplace = True)

In [15]:
data.head()

     ID  Age  Study_Hours  Annual_Income  Distance_From_Home   GPA
0  8867   22           10        1318792                 154  1.76
1  1316   24            9         874657                 181  3.88
2  9443   22           15        1098331                  94  1.73
3  1829   25            9        1680585                   8  1.29
4  1989   26            7        1361560                 122  3.19

In [16]:
data.drop(["ID"],axis=1 , inplace=True)

In [17]:
data.head()

   Age  Study_Hours  Annual_Income  Distance_From_Home   GPA
0   22           10        1318792                 154  1.76
1   24            9         874657                 181  3.88
2   22           15        1098331                  94  1.73
3   25            9        1680585                   8  1.29
4   26            7        1361560                 122  3.19

In [18]:
data_new = pd.concat([dummy,data], axis=1)

In [19]:
data_new.head()

,Gender_Male,Extra_Curricular_Societies,Extra_Curricular_Sports,Age,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,1,1,0,22,10,1318792,154,1.76
1,0,1,0,24,9,874657,181,3.88
2,1,1,0,22,15,1098331,94,1.73
3,0,0,0,25,9,1680585,8,1.29
4,1,0,0,26,7,1361560,122,3.19

In [20]:
x=data_new.iloc [:,:7].values

In [35]:
x

array([[      1,       1,       0, ...,      10, 1318792,     154],
       [      0,       1,       0, ...,       9,  874657,     181],
       [      1,       1,       0, ...,      15, 1098331,      94],
       ...,
       [      1,       0,       1, ...,       6, 1912975,      67],
       [      1,       1,       0, ...,      12,  341543,      86],
       [      1,       0,       0, ...,      12,  975142,      87]],
      dtype=int64)

In [21]:
y=data_new.iloc [:,7].values

In [22]:
y

array([1.76, 3.88, 1.73, 1.29, 3.19, 2.42, 3.05, 2.14, 2.07, 1.85, 2.8 ,
       3.09, 3.01, 3.25, 2.12, 1.87, 2.03, 1.59, 3.74, 1.31, 1.04, 3.45,
       2.77, 3.39, 3.87, 2.6 , 1.85, 3.65, 1.66, 1.47, 3.28, 3.16, 3.59,
       3.1 , 1.7 , 3.01, 3.58, 3.96, 1.45, 2.7 , 1.83, 1.03, 3.26, 2.11,
       3.26, 1.33, 3.07, 1.72, 1.49, 2.61, 3.49, 1.68, 2.93, 2.9 , 3.86,
       1.03, 1.84, 3.73, 3.92, 3.35, 2.65, 2.73, 3.95, 2.73, 1.56, 2.24,
       1.75, 2.38, 2.68, 3.49, 2.  , 3.14, 1.88, 2.02, 3.79, 1.05, 1.55,
       1.42, 3.88, 3.51, 2.58, 1.78, 2.43, 3.52, 1.34, 3.43, 2.61, 2.86,
       1.63, 3.16, 3.98, 3.41, 1.86, 1.11, 2.88, 2.58, 2.62, 1.5 , 3.09,
       1.58, 1.4 , 3.39, 1.16, 1.1 , 3.61, 3.26, 3.22, 1.94, 3.88, 3.08,
       3.17, 3.7 , 3.47, 2.42, 3.85, 3.53, 3.41, 2.76, 3.07, 3.5 , 1.52,
       3.63, 2.67, 3.39, 3.2 , 3.87, 3.02, 1.87, 1.77, 3.61, 1.38, 3.7 ,
       3.27, 1.97, 2.43, 3.16, 2.65, 1.82, 3.24, 1.56, 2.18, 1.55, 3.61,
       3.96, 1.82, 2.91, 2.3 , 3.72, 3.86, 1.7 , 2.82, 3.44, 2.51, 3.07,
       1.68, 3.66, 1.32, 1.2 , 2.78, 3.79, 2.76, 1.26, 3.8 , 3.59, 2.04,
       3.13, 2.8 , 1.49, 2.38, 1.02, 3.75, 3.5 , 1.89, 3.06, 2.97, 1.6 ,
       3.75, 3.59, 3.35, 3.43, 3.34, 3.45, 2.06, 3.65, 3.06, 2.18, 1.41,
       2.75, 3.07, 1.75, 2.96, 1.33, 3.19, 2.48, 3.46, 1.18, 3.43, 2.3 ,
       3.68, 3.49, 1.85, 1.15, 1.96, 2.56, 3.18, 2.49, 3.42, 1.65, 1.38,
       3.25, 2.35, 3.08, 1.3 , 3.51, 2.44, 2.13, 3.58, 3.81, 2.47, 2.5 ,
       1.4 , 1.97, 1.15, 2.27, 3.94, 3.87, 1.06, 1.25, 1.73, 1.81, 1.79,
       3.81, 2.2 , 2.03, 2.53, 1.1 , 1.97, 2.54, 3.34, 2.78, 3.74, 1.39,
       1.7 , 2.48, 3.29, 1.02, 2.4 , 3.07, 1.32, 3.46, 1.2 , 1.95, 1.47,
       1.65, 1.54, 3.21, 3.89, 3.55, 1.61, 1.59, 1.78, 3.22, 3.83, 3.26,
       1.41, 2.56, 2.76, 1.61, 1.15, 1.03, 1.2 , 3.64, 1.13, 1.44, 2.67,
       3.71, 2.04, 3.1 , 2.64, 2.22, 2.68, 1.93, 3.24, 2.89, 1.92, 1.77,
       3.95, 1.84, 3.79, 1.39, 1.86, 1.29, 1.83, 3.65, 1.8 , 2.53, 3.99,
       1.7 , 1.08, 2.35, 2.9 , 2.94, 1.3 , 2.65, 1.44, 2.46, 3.38, 3.22,
       3.52, 1.71, 2.09, 2.4 , 2.85, 2.92, 2.09, 2.5 , 1.54, 2.86, 2.83,
       2.72, 1.45, 3.32, 2.82, 3.39, 3.12, 3.43, 3.08, 2.95, 3.91, 3.44,
       1.87, 1.38, 2.75, 2.02, 1.77, 1.08, 2.99, 1.73, 2.55, 1.86, 2.12,
       1.54, 3.92, 3.99, 1.3 , 1.03, 1.59, 3.43, 1.44, 1.55, 3.95, 1.59,
       2.84, 3.63, 3.36, 2.99, 3.46, 2.88, 2.18, 3.22, 1.96, 2.69, 3.01,
       1.51, 3.7 , 4.  , 1.01, 1.47, 3.68, 3.76, 1.95, 3.37, 1.87, 1.17,
       3.05, 2.01, 3.27, 1.14, 3.7 , 3.15, 3.15, 3.73, 3.69, 2.6 , 2.82,
       1.09, 3.17, 3.11, 3.  , 2.07, 1.55, 1.24, 1.84, 3.47, 2.7 , 1.84,
       1.36, 3.25, 3.09, 2.75, 3.14, 3.04, 2.82, 3.12, 3.2 , 2.14, 3.17,
       1.75, 1.37, 1.65, 2.51, 1.21, 3.29, 1.42, 2.13, 3.67, 3.27, 1.23,
       2.93, 2.99, 1.17, 1.66, 2.92, 2.21, 3.31, 2.92, 3.71, 1.36, 1.65,
       2.39, 2.45, 3.96, 1.29, 3.91, 3.05, 1.06, 2.84, 1.5 , 1.9 , 2.29,
       1.48, 1.42, 2.1 , 1.24, 2.95, 3.05, 1.01, 2.23, 3.5 , 2.64, 2.86,
       2.11, 2.3 , 3.23, 2.6 , 3.33, 3.99, 1.21, 1.92, 2.83, 1.09, 1.99,
       1.25, 2.5 , 2.5 , 2.06, 2.58, 3.44, 1.51, 2.37, 3.15, 3.1 , 1.87,
       2.45, 2.43, 3.97, 3.22, 1.31, 2.77, 2.15, 1.78, 3.84, 1.8 , 1.71,
       3.86, 1.4 , 1.88, 2.79, 3.92, 2.49, 2.58, 3.37, 2.94, 1.79, 3.4 ,
       2.28, 2.57, 1.25, 2.11, 1.98, 3.66, 3.45, 1.29, 3.78, 3.87, 3.49,
       3.69, 1.05, 3.63, 3.72, 3.62, 3.89, 4.  , 3.12, 1.71, 2.41, 3.85,
       1.49, 2.71, 1.82, 1.58, 3.31, 1.86, 1.55, 1.14, 3.41, 3.58, 2.76,
       3.69, 2.11, 3.62, 3.1 , 3.93, 1.66, 2.36, 1.4 , 3.41, 3.11, 2.53,
       2.4 , 2.1 , 2.54, 1.94, 2.13, 1.33, 3.37, 3.  , 3.52, 1.44, 2.56,
       3.07, 2.3 , 2.41, 2.25, 3.63, 3.32, 3.01, 2.41, 1.42, 3.95, 2.57,
       2.21, 1.07, 3.79, 1.27, 1.82, 3.44, 2.25, 3.71, 1.85, 2.05, 2.37,
       2.  , 3.85, 1.94, 1.45, 2.84, 1.13, 3.88, 2.85, 1.49, 2.05, 3.94,
       2.43, 3.53, 1.49, 2.15, 2.26, 1.15, 1.4 , 2.91, 2.72, 3.68, 3.89,
       3.32, 1.53, 3.34, 1.02, 1.58, 1.17, 1.5 , 2.41, 3.72, 2.77, 2.77,
       1.88, 1.35, 1.08, 3.59, 3.26, 1.17, 3.77, 3.38, 2.71, 1.11, 3.75,
       2.26, 1.99, 1.21, 1.46, 2.62, 3.15, 2.16, 2.6 , 1.21, 2.39, 3.13,
       1.36, 3.92, 3.14, 1.13, 2.73, 1.79, 1.1 , 1.64, 3.11, 3.5 , 2.14,
       1.93, 2.88, 1.15, 2.27, 1.88, 2.36, 1.23, 1.84, 1.97, 1.53, 1.53,
       1.07, 1.7 , 1.05, 2.08, 3.92, 1.62, 3.62, 1.33, 2.43, 2.2 , 3.87,
       1.84, 2.45, 3.05, 2.36, 1.95, 1.18, 2.84, 2.14, 2.06, 1.48, 2.18,
       3.77, 3.46, 1.17, 3.46, 2.6 , 3.71, 1.79, 1.58, 2.4 , 2.1 , 2.76,
       2.76, 1.7 , 2.23, 2.65, 2.12, 1.75, 2.98, 3.54, 3.66, 1.69, 3.77,
       1.34, 1.35, 1.58, 3.7 , 3.95, 3.44, 2.53, 3.68, 3.83, 2.92, 1.76,
       1.03, 1.22, 1.21, 1.87, 3.5 , 2.79, 1.96, 1.13, 3.69, 1.77, 2.48,
       1.77, 1.35, 3.01, 2.43, 2.1 , 1.63, 3.78, 2.77, 1.12, 1.28, 3.61,
       3.09, 2.72, 2.44, 2.09, 3.48, 2.74, 3.96, 3.61, 2.16, 2.46, 3.37,
       3.13, 3.08, 1.  , 1.06, 3.45, 1.2 , 3.75, 1.87, 1.13, 2.1 , 2.66,
       2.98, 1.16, 2.61, 3.42, 2.43, 2.08, 3.23, 2.82, 3.3 , 1.89, 1.87,
       2.69, 1.47, 3.83, 2.09, 3.34, 1.77, 1.16, 1.51, 2.46, 2.31, 3.2 ,
       2.16, 3.92, 2.78, 1.46, 2.98, 3.5 , 3.89, 2.44, 3.92, 3.93, 3.38,
       2.65, 3.63, 2.47, 1.62, 2.64, 1.08, 3.86, 3.73, 1.24, 1.68, 1.88,
       2.36, 2.91, 1.56, 1.45, 3.15, 3.22, 2.11, 3.68, 2.53, 3.43, 2.21,
       3.09, 1.28, 2.03, 1.79, 2.96, 3.99, 1.26, 2.79, 3.86, 1.77, 2.11,
       2.17, 2.73, 2.74, 2.43, 2.84, 2.86, 3.33, 1.85, 1.29, 3.23, 3.49,
       2.27, 2.17, 3.91, 2.35, 1.18, 2.25, 1.65, 1.98, 3.2 , 3.07, 3.95,
       2.26, 3.65, 3.51, 3.38, 1.95, 3.78, 2.66, 2.4 , 2.52, 2.26, 2.92,
       2.5 , 2.81, 2.83, 3.23, 2.7 , 3.23, 1.45, 2.22, 3.82, 1.01, 1.67,
       2.87, 2.5 , 3.41, 1.12, 3.54, 2.62, 2.94, 2.03, 2.43, 1.39, 2.55,
       3.55, 1.87, 1.01, 1.13, 1.57, 1.27, 2.28, 3.01, 1.97, 2.6 , 1.4 ,
       3.41, 2.79, 2.1 , 2.03, 2.64, 1.58, 1.93, 1.62, 1.31, 3.11, 3.92,
       2.2 , 2.02, 2.27, 2.88, 1.31, 2.92, 3.35, 3.7 , 1.85, 2.04, 1.8 ,
       2.23, 2.98, 2.1 , 2.15, 3.48, 2.83, 1.81, 1.2 , 1.57, 2.26, 2.07,
       1.96, 3.12, 3.43, 2.63, 1.3 , 3.56, 3.17, 2.57, 1.52, 1.54, 2.3 ,
       3.6 , 3.04, 3.46, 2.98, 1.34, 2.27, 2.86, 2.34, 2.04, 1.27, 3.99,
       1.38, 1.32, 3.15, 1.  , 1.99, 2.72, 2.2 , 2.9 , 3.48, 2.82, 1.36,
       1.34, 1.74, 1.79, 3.33, 2.58, 1.26, 1.66, 1.31, 2.66, 1.83, 1.54,
       1.49, 2.35, 3.16, 2.55, 2.57, 1.57, 2.97, 3.12, 3.  , 1.42, 2.69,
       3.76, 3.55, 3.98, 3.75, 3.84, 3.21, 3.81, 1.58, 1.52, 1.06, 2.27,
       1.59, 1.05, 2.37, 3.3 , 2.85, 1.38, 1.66, 2.49, 2.19, 2.59, 1.4 ,
       3.59, 1.5 , 3.93, 2.37, 3.4 , 2.32, 2.7 , 1.36, 1.88, 3.36])

In [31]:
x_train,x_test ,y_train,y_test = train_test_split(x,y, test_size = 0.2, random_state=0)

In [32]:
model= LinearRegression()

In [33]:
model.fit(x_train,y_train)

LinearRegression()

In [48]:
y_test

array([2.37, 2.5 , 1.08, 2.25, 3.46, 3.75, 3.65, 3.81, 3.38, 1.21, 2.57,
       1.42, 1.62, 2.78, 3.88, 1.03, 3.48, 1.6 , 2.12, 1.42, 3.16, 3.84,
       2.09, 2.4 , 2.03, 3.73, 1.33, 1.1 , 1.47, 3.88, 3.23, 1.96, 1.11,
       1.68, 1.37, 3.37, 1.49, 1.01, 3.56, 1.61, 1.79, 2.7 , 3.11, 3.44,
       1.95, 2.47, 2.86, 1.55, 1.54, 2.26, 1.38, 2.53, 3.83, 1.29, 3.54,
       3.94, 1.13, 1.2 , 2.19, 2.72, 1.85, 2.36, 3.61, 1.96, 1.42, 3.43,
       1.41, 3.1 , 1.47, 2.84, 3.08, 2.35, 1.06, 3.07, 3.46, 3.29, 2.07,
       3.15, 2.41, 1.62, 3.22, 3.99, 3.17, 3.3 , 1.2 , 1.34, 1.97, 3.45,
       1.25, 1.27, 2.3 , 3.4 , 2.3 , 2.22, 1.93, 1.4 , 3.71, 3.88, 1.47,
       1.23, 2.64, 1.57, 2.24, 2.23, 2.86, 3.5 , 2.84, 1.24, 2.35, 2.44,
       1.5 , 2.43, 2.58, 1.55, 3.21, 1.09, 3.37, 3.69, 2.49, 3.12, 3.38,
       2.1 , 2.67, 1.34, 2.65, 2.52, 1.87, 2.89, 1.99, 3.59, 2.28, 1.13,
       3.34, 1.77, 2.08, 1.21, 2.85, 2.07, 2.11, 3.01, 3.39, 3.75, 1.58,
       3.46, 2.64, 3.31, 2.82, 1.84, 3.86, 1.7 , 3.64, 3.28, 3.12, 1.89,
       1.58, 3.59, 1.21, 3.01, 3.41, 1.71, 1.49, 2.49, 2.98, 2.94, 2.98,
       3.7 , 1.45, 2.9 , 1.59, 2.93, 1.36, 1.45, 2.91, 2.17, 2.94, 3.42,
       3.74, 1.53, 1.93, 1.82, 2.46, 3.36, 3.44, 2.5 , 1.4 , 1.54, 3.01,
       1.92, 1.46, 3.18, 3.07, 1.98, 1.06, 2.42, 3.2 , 2.4 , 2.77, 2.13,
       3.92, 2.82])

In [41]:
y_pred = model.predict(x_test)
y_pred

array([2.45859544, 2.48189844, 2.52609814, 2.44755148, 2.43441844,
       2.4441942 , 2.59304194, 2.5650934 , 2.45743111, 2.54705058,
       2.41369892, 2.48703529, 2.54110891, 2.55756711, 2.40964999,
       2.6464932 , 2.55155379, 2.49226051, 2.61246241, 2.58476053,
       2.48632814, 2.62401499, 2.40425402, 2.54747027, 2.52877333,
       2.53210703, 2.58689872, 2.42520324, 2.5997469 , 2.51215648,
       2.55717346, 2.57209611, 2.41712661, 2.51984043, 2.48485112,
       2.53237746, 2.47437727, 2.52478684, 2.62616758, 2.53023872,
       2.60300406, 2.46409328, 2.44288531, 2.52653268, 2.54175963,
       2.43226457, 2.38444236, 2.54421868, 2.39457219, 2.45051988,
       2.45748266, 2.54048337, 2.39321516, 2.45221297, 2.54202793,
       2.60474351, 2.37836383, 2.60193504, 2.64836809, 2.47970387,
       2.60829197, 2.43343052, 2.46820314, 2.43089338, 2.48106334,
       2.54937679, 2.5677143 , 2.50048765, 2.50381686, 2.59987949,
       2.54103206, 2.5374847 , 2.54089681, 2.41464698, 2.54079411,
       2.60136136, 2.58701427, 2.50188711, 2.59728282, 2.4672719 ,
       2.53809483, 2.50665735, 2.44618812, 2.34054697, 2.54204731,
       2.54688734, 2.49175261, 2.66308925, 2.59376461, 2.66130113,
       2.60400039, 2.45920071, 2.36456041, 2.54528435, 2.63986162,
       2.31891633, 2.5787834 , 2.5666557 , 2.40567796, 2.5008441 ,
       2.481787  , 2.51868783, 2.43329384, 2.58977924, 2.49056161,
       2.60383761, 2.499032  , 2.4853745 , 2.54388509, 2.47733176,
       2.49114757, 2.38223026, 2.51596327, 2.42440437, 2.56481729,
       2.39468679, 2.48287643, 2.51736582, 2.61375317, 2.44222753,
       2.52101622, 2.62262857, 2.63918805, 2.59141919, 2.64772798,
       2.30829077, 2.50097541, 2.54933561, 2.47348203, 2.50918891,
       2.4073995 , 2.47987012, 2.57268821, 2.62700939, 2.58081042,
       2.56324818, 2.58427632, 2.48102367, 2.67301948, 2.51157269,
       2.60458443, 2.52666049, 2.46548031, 2.54493519, 2.5847534 ,
       2.46714343, 2.56134251, 2.48755684, 2.59442144, 2.55461897,
       2.55971864, 2.6524473 , 2.46769757, 2.50199086, 2.54321095,
       2.4973821 , 2.54550596, 2.69062264, 2.50617769, 2.55408095,
       2.39958683, 2.5201341 , 2.47043021, 2.36713463, 2.49504539,
       2.44100823, 2.46810816, 2.55915489, 2.41313511, 2.47193094,
       2.5873315 , 2.55469132, 2.58778578, 2.51876355, 2.57776681,
       2.50043541, 2.58094891, 2.54621206, 2.42191068, 2.4389927 ,
       2.53569525, 2.42255047, 2.50981375, 2.47730557, 2.50644759,
       2.63819692, 2.38061805, 2.52351422, 2.41317229, 2.46905746,
       2.571588  , 2.45670756, 2.53762642, 2.58245465, 2.57824419,
       2.37865128, 2.50737846, 2.42638165, 2.50106814, 2.60196227])

In [43]:
MSE =mean_squared_error(y_pred, y_test)
MSE

0.7423989909750032

In [46]:
RMSE = np.sqrt(MSE)

In [47]:
RMSE

0.8616257836062029

In [49]:
data_new.head()

,Gender_Male,Extra_Curricular_Societies,Extra_Curricular_Sports,Age,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,1,1,0,22,10,1318792,154,1.76
1,0,1,0,24,9,874657,181,3.88
2,1,1,0,22,15,1098331,94,1.73
3,0,0,0,25,9,1680585,8,1.29
4,1,0,0,26,7,1361560,122,3.19

In [50]:
x.shape

(1000, 7)

In [65]:
arr =np.array([1,1,0,18,18,1318792,9]).reshape(1,7)

In [66]:
model.predict(arr)

array([2.3811854])

In [70]:
arr2 =np.array([0,0,0,19,2,574657,154]).reshape(1,7)

In [71]:
model.predict(arr2)

array([2.47891401])